<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/PatientDetails.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/main.css')}}"
    />
  </head>
  {% import "bootstrap/wtf.html" as wtf %}
  <body>
    <div class="navbar">
      <div class="navbar-left">
        <a href="{{url_for('index')}}" class="home">Home</a>
      </div>
      <div class="navbar-right">
        <a href="{{url_for('dashboard')}}" class="dashboard">Dashboard</a>
        <a href="{{url_for('profile')}}" class="profile">{{name}}</a>
        <a href="{{ url_for('logout') }}" class="logout">Logout</a>
      </div>
    </div>
    <div class="whole">
      <div class="container">
        <div class="container1">
          <div class="container1-1">{{message}}</div>
          <div class="container1-2"></div>
          <div class="container1-3"></div>
        </div>
        <div class="container2">
          <form method="POST" action="/profile">
            <div class="container2-1">
              <button type="submit" name="email" value="email">
                Change Email
              </button>
            </div>
            <div class="container2-2">
              <form method="POST" action="/profile">
        {{ passwordform.hidden_tag() }}
        <div class="container1-1"><h1>Enter Details</h1></div>
        <div class="container-filler">
          <h2>{{message}}</h2>
        </div>

        <div class="container1-2">{{ form.password(placeholder='New Password') }}</div>
         <div class="container1-2">{{ form.Confirmpassword(placeholder='Confirm Password') }}</div>
       <button type="submit" name="newpassword" value="newpassword">
                Submit
              </button>
            </div>
          </form>
          <div class="container2-3"></div>
        </div>
      </div>

      <div class="bottom-bar"></div>
    </div>
  </body>
</html>
