@font-face {
  font-family: Ubuntu-Bold;
  src: url('../Fonts/Ubuntu-Bold.ttf');
}

@font-face {
  font-family: Ubuntu-Regular;
  src: url('../Fonts/Ubuntu-Regular.ttf');
}

body {
  padding-top: 50px;
  font-family: Ubuntu-Regular;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
