<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.25" />
    <link rel="icon" href="{{url_for('static', filename='images/favicon.svg')}}" type="image/gif" sizes="16x16">
    <title>Dashboard</title>

    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/main.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/login.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/dashboard.css')}}"
    />
    
  </head>
  {% import "bootstrap/wtf.html" as wtf %}
  <body>
    <div class="navbar">
      <div class="navbar-left">
        <a class="middle" href="{{url_for('index')}}" class="home">Home</a>
      </div>
      <div class="navbar-right">
        <a class="middle" href="{{url_for('dashboard')}}" class="dashboard"
          >Dashboard</a
        >
        <a class="middle" href="{{url_for('UserProfile')}}" class="profile"
          >{{name}}</a> 

        <a class="middle" href="{{ url_for('logout') }}" class="logout"
          >Logout</a
        >
      </div>
    </div>
    <div class="body-container">
      <div class="body-left">
        <div class="row">
          <div class="flex-item"><h1>Quick Prediction</h1></div>
          <div class="flex-item">
            <button class="button-popup" id="chf">CHF DETECTION</button>
            <button class="button-popup" id="hf">HF CLASSIFICATION</button>
          </div>
          <div class="flex-item">
            <button class="button-popup" id="heartdisease">HEART DISEASE</button>
            <button class="button-popup" id="complete">COMPLETE DIAGNOSTICS</button>
          </div>
        </div>
        <div class="row">
          <div class="flex-item" id="patient-heading">
            <h1>Patient Record</h1>
          </div>
        </div>
        <div class="row">
          <table class="fixed_header">
            <thead>
              <tr>
                <th id="col1">S.no</th>
                <th>Patient Id</th>
                <th>Patient Name</th>
                <th>Date Added</th>
                <th>CHF</th>
                <th>Heart Failure</th>
                <th>Heart Disease</th>
              </tr>
            </thead>
            <tbody>
              {% set count=namespace(value=1) %}
              {% for row in data %} 
                {% if count.value <=100 %}
                  <tr>
                    <td id="col-1">{{count.value}}</td>
                    <td>
                      <button onclick="location.href='{{row.PatientId}}'">
                        {{row.PatientId}}
                      </button>
                    </td>
                    <td>{{row.PatientName}}</td>
                    <td>{{row.PatientDate.strftime("%d/%m/%Y")}}</td>
                    {% set flag=namespace(value=0) %}
                    {% set temp=namespace(value=1) %}
                    {% set temp2=namespace(value=0) %}  
                    {% for row2 in diagdata %} 
                      {% if row2.PatientId==row.PatientId %}  
                        {% set flag.value=1 %} 
                        {% if temp.value ==1 %} 
                          {% if row2.DiagnosticsFor==1 %} 
                            {% for row3 in heartlist %}    
                              {% if row3.DiagnosticsId==row2.id %}
                                <td>-</td>
                                <td>-</td>
                                {% if row3.Result=="Yes" %}
                                  <td class="red">Yes</td>
                                {% elif row3.Result=="No" %}
                                  <td class="green">No</td>
                                {% endif %}
                              {% endif %}
                            {% endfor %}
                          {% elif row2.DiagnosticsFor==2 %}   
                            {% for row3 in chf %} 
                              {% if row3.DiagnosticsId==row2.id %}
                                {% if row3.Result=="Yes" %}
                                  <td class="red">Yes</td>
                                {% elif row3.Result=="No" %}
                                  <td class="green">No</td>
                                {% endif %}
                                <td>-</td>
                                <td>-</td>
                              {% endif %}
                            {% endfor %} 
                          {% elif row2.DiagnosticsFor==3 %} 
                            {% for row3 in hf %}    
                              {% if row3.DiagnosticsId==row2.id %}
                                <td>-</td>
                                <td>{{row3.Result}}</td>
                                <td>-</td>
                              {% endif %}
                            {% endfor %}
                          {% elif row2.DiagnosticsFor==4 %}
                            {% set  temp2.value = 0  %}
                            {% for row3 in chf %}
                              {% if row3.DiagnosticsId==row2.id %}
                                {% set temp2.value =  1 %}
                                {% if row3.Result=="Yes" %}
                                  <td class="red">Yes</td>
                                {% elif row3.Result=="No" %}
                                  <td class="green">No</td>
                                {% endif %}
                              {% endif %}
                            {% endfor %}
                            {% if temp2.value==0 %}
                              <td>-</td>
                            {% endif%}
                            {% set temp2.value = 0 %}
                            {% for row3 in hf %}    
                              {% if row3.DiagnosticsId==row2.id %}
                                {% set temp2.value =  1 %}
                                <td>{{row3.Result}}</td>
                              {% endif %}
                            {% endfor %}
                            {% if temp2.value==0 %}
                              <td>-</td>
                            {% endif%}
                            {% set temp2.value = 0 %}
                            {% for row3 in heartlist %}    
                              {% if row3.DiagnosticsId==row2.id %}
                                {% set temp2.value =  1 %}
                                {% if row3.Result=="Yes" %}
                                  <td class="red">Yes</td>
                                {% elif row3.Result=="No" %}
                                  <td class="green">No</td>
                                {% endif %}
                              {% endif %}
                            {% endfor %}
                            {% if temp2.value==0 %}
                              <td>-</td>
                            {% endif%}
                            {% set temp2.value = 0 %}
                          {% endif %} 
                          {% set temp.value = count.value + 1 %} 
                        {% endif %}
                      {% endif %} 
                    {% endfor %} 
                    {% if flag.value==0 %}
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    {% endif %}
                  </tr>
                  {% set count.value = count.value + 1 %} 
                {% endif %} 
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <div class="body-right">
        <form method="POST" action="/dashboard">
          <h1 class="form-signin-heading">Add Patient</h1>
          {{ form.hidden_tag() }} {{ form.PatientName(placeholder='Patient Name') }}
          <br />

          <button type="submit">ADD</button>
          <br>
          <br>
          <br>
          <br>

        </form>
         
          <form  method="POST" action="/dashboard" enctype="multipart/form-data">

              <label style="width: 250px;" class="upload" for="files">Browse</label>
              <br>
              <input type="file" id="files" name="file" accept=".csv" />
              
            <button style="width: 250px;" name="csvu" value="csvu" type="submit">Submit</button>
          </form>
          <form method="POST" action="/dashboard">
            <button style="width: 250px;" type="submit" name="download" value="download">
              Download Template
            </button>
          </form>


        </div>
      </div>

<!-- ----------------------CHF POPUP-------------------- -->

      <div id="chf-form" class="popUp popup_hide chfpopUp">
        <div class="popUp-content ">
          <div class="top-popup"></div>
          <form method="POST" action="{{data.PatientId}}">
            {{ chfform.hidden_tag() }}
            
            <div class="form-item">
              <h1>Enter Details For CHF Detection</h1>
            </div>
            <p>{{messagechf}}</p>
            <div class="form-item">{{ chfform.Pulse.label }}</div>
            <div class="form-item">{{ chfform.Pulse(placeholder="Normal : 60–100 beats per minute") }}</div>
            <div class="form-item">{{chfform.BNP.label }}</div>
            <div class="form-item">{{chfform.BNP(placeholder="Normal : below 400pg/mL") }}</div>
            <div class="form-item">{{ chfform.Cystatin.label }}</div>
            <div class="form-item">{{ chfform.Cystatin(placeholder="Normal : 0.6-1 mg/L") }}</div>
            <div class="form-item">{{ chfform.Potassium.label }}</div>
            <div class="form-item">{{ chfform.Potassium(placeholder="Normal : 3.6-5.2 mmol/L") }}</div>
            <div class="form-item">{{ chfform.NYHA.label }} </div>
            <div class="form-item">{{ chfform.NYHA }} </div>
            <div class="form-item">{{ chfform.Killip.label }}</div>
            <div class="form-item">{{ chfform.Killip }}</div>
            
            <div class="flex-item">
              <button style="width: 250px;" type="submit" name="submitchf" value="submitchf">
                SUBMIT
              </button>
            </div>
          </form>
      </div>
      </div>

<!-- ---------------------------HEART FORM--------------------- -->

      <div id="heart-form" class="popUp popup_hide heartpopUp">
          <div class="popUp-content ">
            <form method="POST" action="{{data.PatientId}}">
              {{ heartform.hidden_tag() }}
              <div class="form-item">
                <h1>Enter Details For Heart Disease </h1>
              </div>
              <p>{{messageheart}}</p>
              <div class="form-item">{{ heartform.Age.label }}</div>
              <div class="form-item">{{ heartform.Age }}</div>
              <div class="form-item">{{ heartform.BP.label }}</div>
              <div class="form-item">{{ heartform.BP(placeholder="Normal : 90-120 mm/Hg") }}</div>
              <div class="form-item">{{ heartform.CholestrolHeart.label }}</div>
              <div class="form-item">{{ heartform.CholestrolHeart(placeholder="Normal : below 200mg/dL") }}</div>
              <div class="form-item">{{ heartform.Thalach.label }}</div>
              <div class="form-item">{{ heartform.Thalach }}</div>
              <div class="form-item">{{ heartform.OldPeak.label }}</div>
              <div class="form-item">{{ heartform.OldPeak }}</div>
              <div class="form-item">{{ heartform.Thal.label }}</div>
              <div class="form-item">{{ heartform.Thal }}</div>
              <div class="form-item">{{ heartform.Sex.label }} </div>
              <div class="form-item">{{ heartform.Sex }} </div>
              <div class="form-item">{{ heartform.CP.label }}</div>
              <div class="form-item">{{ heartform.CP }}</div>
              <div class="form-item">{{ heartform.FBS.label }}</div>
              <div class="form-item">{{ heartform.FBS }}</div>
              <div class="form-item">{{ heartform.ECG.label }}</div>
              <div class="form-item">{{ heartform.ECG }}</div>
              <div class="form-item">{{ heartform.Exang.label }}</div>
              <div class="form-item">{{ heartform.Exang }}</div>
              <div class="form-item">{{ heartform.Slope.label }}</div>
              <div class="form-item">{{ heartform.Slope }}</div>
              <div class="form-item">{{ heartform.Ca.label }}</div>
              <div class="form-item">{{ heartform.Ca }}</div>
              <div class="flex-item">
                <button style="width: 250px;" type="submit" name="submitheart" value="submitheart">
                  SUBMIT
                </button>
              </div>
            </form>
          </div>
      </div>
      

<!-- -----------------------HF FORM---------------------- -->
    
      <div id="hfform" class="popUp popup_hide hfpopUp">
        <div  class="popUp-content">
          <div class="top-popup"></div>
          <form method="POST" action="{{data.PatientId}}">
            {{ hfform.hidden_tag() }}
            <div class="form-item">
              <h1>Enter Details For HF Clasification</h1>
            </div>
            <p>{{messagehf}}</p>
            <div class="form-item">{{ hfform.Pulse2.label }} </div>
            <div class="form-item">{{ hfform.Pulse2(placeholder="Normal : 60–100 beats per minute") }} </div>
            <div class="form-item">{{ hfform.SystolicBP.label }} </div>
            <div class="form-item">{{ hfform.SystolicBP(placeholder="Normal : 90-120 mm/Hg") }} </div>
            <div class="form-item">{{ hfform.BMI.label }} </div>
            <div class="form-item">{{ hfform.BMI(placeholder="Normal : 18.5-24.9 kg/m^2") }} </div>
            <div class="form-item">{{ hfform.LVEDD.label }} </div>
            <div class="form-item">{{ hfform.LVEDD(placeholder="Normal : 39-59 mm") }} </div>
            <div class="form-item">{{ hfform.BNP2.label }}</div>
            <div class="form-item">{{ hfform.BNP2(placeholder="Normal : below 400pg/mL") }}</div>
            <div class="form-item">{{ hfform.CreatnineKinase.label }}</div>
            <div class="form-item">{{ hfform.CreatnineKinase(placeholder="Normal : 22-198 U/L ( units per liter )") }}</div>
            <div class="form-item">{{ hfform.Cholestrol.label }}</div>
            <div class="form-item">{{ hfform.Cholestrol(placeholder="Normal : below 5.2 mmol/L") }}</div>
            <div class="form-item">{{ hfform.CEM.label }}</div>
            <div class="form-item">{{ hfform.CEM(placeholder="Normal : 44-106 umol/L") }}</div>
            <div class="form-item">{{ hfform.Potassium2.label }}</div>
            <div class="form-item">{{ hfform.Potassium2(placeholder="Normal : 3.6-5.2 mmol/L") }}</div>
            
            <div class="flex-item">
              <button style="width: 250px;" type="submit" name="submithf" value="submithf">
                SUBMIT
              </button>
            </div>
          </form>
        </div>
      </div>


<!-- ------------------COMPLETE FORM------------------------- -->

      <div id="completeform" class="popUp popup_hide completepopUp">
        <div  class="popUp-content complete-content">
          <form method="POST" action="{{data.PatientId}}">
            {{ completeform.hidden_tag() }}
            <div class="form-item">
              <h1>Enter Details For Complete Diagnostics</h1>
            </div>
            <p>{{messagechfcomplete}}</p>
            <p>{{messagehfcomplete}}</p>
            <p>{{messageheartcomplete}}</p>
            <div class="form-item">{{ completeform.Pulse4.label }}</div>
            <div class="form-item">{{ completeform.Pulse4(placeholder="Normal : 60-100 beats per minute") }}</div>
            <div class="form-item">{{ completeform.BNP4.label }}</div>
            <div class="form-item">{{ completeform.BNP4(placeholder="Normal : below 400 pg/mL ") }}</div>
            <div class="form-item">{{ completeform.Cystatin4.label }}</div>
            <div class="form-item">{{ completeform.Cystatin4(placeholder="Normal : 0.6-1 mg/L") }}</div>
            <div class="form-item">{{ completeform.Potassium4.label }}</div>
            <div class="form-item">{{ completeform.Potassium4(placeholder="Normal : 3.6-5.2 mmol?L") }}</div>
            <div class="form-item">{{ completeform.SystolicBP4.label }} </div>
            <div class="form-item">{{ completeform.SystolicBP4(placeholder="Normal : 90-120 mm/Hg") }} </div>
            <div class="form-item">{{ completeform.BMI4.label }} </div>
            <div class="form-item">{{ completeform.BMI4(placeholder="Normal : 18.5-24.9 kg/m^2") }} </div>
            <div class="form-item">{{ completeform.LVEDD4.label }} </div>
            <div class="form-item">{{ completeform.LVEDD4(placeholder="Normal : 39-59 mm") }} </div>
            <div class="form-item">{{ completeform.CreatnineKinase4.label }}</div>
            <div class="form-item">{{ completeform.CreatnineKinase4(placeholder="Normal : 22-198 U/L ( units per liter )") }}</div>
            <div class="form-item">{{ completeform.Cholestrol4.label }}</div>
            <div class="form-item">{{ completeform.Cholestrol4(placeholder="Normal : below 5.2 mmol/L") }}</div>
            <div class="form-item">{{ completeform.CEM4.label }}</div>
            <div class="form-item">{{ completeform.CEM4(placeholder="Normal : 44-106 mmol/L") }}</div>
            <div class="form-item">{{ completeform.Age4.label }}</div>
            <div class="form-item">{{ completeform.Age4 }}</div>
            <div class="form-item">{{ completeform.BP4.label }}</div>
            <div class="form-item">{{ completeform.BP4(placeholder="Normal : 90-120 mm/Hg") }}</div>
            <div class="form-item">{{ completeform.Thalach4.label }}</div>
            <div class="form-item">{{ completeform.Thalach4 }}</div>
            <div class="form-item">{{ completeform.OldPeak4.label }}</div>
            <div class="form-item">{{ completeform.OldPeak4 }}</div>
            <div class="form-item">{{ completeform.Thal4.label }}</div>
            <div class="form-item">{{ completeform.Thal4 }}</div>
            <div class="form-item">{{ completeform.NYHA4.label }} </div>
            <div class="form-item">{{ completeform.NYHA4 }} </div>
            <div class="form-item">{{ completeform.Killip4.label }}</div>
            <div class="form-item">{{ completeform.Killip4 }}</div>
            <div class="form-item">{{ completeform.Sex4.label }} </div>
            <div class="form-item">{{ completeform.Sex4 }} </div>
            <div class="form-item">{{ completeform.CP4.label }}</div>
            <div class="form-item">{{ completeform.CP4 }}</div>
            <div class="form-item">{{ completeform.FBS4.label }}</div>
            <div class="form-item">{{ completeform.FBS4 }}</div>
            <div class="form-item">{{ completeform.ECG4.label }}</div>
            <div class="form-item">{{ completeform.ECG4 }}</div>
            <div class="form-item">{{ completeform.Exang4.label }}</div>
            <div class="form-item">{{ completeform.Exang4 }}</div>
            <div class="form-item">{{ completeform.Slope4.label }}</div>
            <div class="form-item">{{ completeform.Slope4 }}</div>
            <div class="form-item">{{ completeform.Ca4.label }}</div>
            <div class="form-item">{{ completeform.Ca4 }}</div>
      
            <div class="flex-item">
              <button style="width: 250px;" type="submit" name="submitcomplete" value="submitcomplete">
                SUBMIT
              </button>
            </div>
          </form>
        </div>
      </div>
    
    <div id="rest" class="popUp popup_hide">
      <div class="popUp-content">
        <h1>ML MODEL FOR THIS FEATURE WILL BE ADDED SOON</h1>
      </div>
    </div>
    <div id="tryagain" class="popUp popup_hide tryagainpopUp">
      <div class="popUp-content ">
          <div class="flex-item">
            <h1>Try Again</h1>
          </div>
      </div>
    </div>
    <div id="csvmessage" class="popUp popup_hide csvmessagepopUp">
      <div class="popUp-content ">
          <div class="form-item">
            <h1>Patient Sucessfully Added</h1>
          </div>
          <div class="form-item">
            <p>Patient Added : {{patientCounter }}</p>
          </div>
          <div class="form-item">
            <p>Diagnostics Detected : {{diagnosticsDetectionCounter }}</p>
          </div>
          <div class="form-item">
            <p>Diagnostics Executed : {{diagnosticsExecutionCounter }}</p>
          </div>

      </div>
    </div>
    {% if formnum==1 %}
    <script>
      document.getElementById('chf-form').style.display = 'flex';
    </script>
    {% endif%} 
    {% if formnum==2 %}
    <script>
      document.getElementById('hfform').style.display = 'flex';
    </script>
    {% endif%}
    {% if formnum==3 %}
    <script>
      document.getElementById('heart-form').style.display = 'flex';
    </script>
    {% endif%}
    {% if formnum==4 %}
    <script>
      document.getElementById('completeform').style.display = 'flex';
    </script>
    {% endif%}
    {% if formnum==5 %}
    <script>
      document.getElementById('tryagain').style.display = 'flex';
    </script>
    {% endif%}
    {% if formnum==6 %}
    <script>
      document.getElementById('csvmessage').style.display = 'flex';
    </script>
    {% endif%}
    <script>
    var modal1 = document.getElementById('chf-form');

    var btn1 = document.getElementById('chf');
    
    btn1.onclick = function () {
      modal1.style.display = 'flex';
    };
    
    var modal2 = document.getElementById('hfform');
    var btn2 = document.getElementById('hf');
    
    btn2.onclick = function () {
      modal2.style.display = 'flex';
    };
    var modal3 = document.getElementById('heart-form');
    var btn3 = document.getElementById('heartdisease');
    
    btn3.onclick = function () {
      modal3.style.display = 'flex';
    };
    var modal4 = document.getElementById('completeform');
    var btn4 = document.getElementById('complete');
    
    btn4.onclick = function () {
      modal4.style.display = 'flex';
    };
    var modal5 = document.getElementById('tryagain');

    var modal6 = document.getElementById('csvmessage');

    window.onclick = function (event) {
       if (event.target == modal1) {
        modal1.style.display = 'none';
      }
      if (event.target == modal2) {
        modal2.style.display = 'none';
      }
      if (event.target == modal4) {
        modal4.style.display = 'none';
      }
      if (event.target == modal3) {
        modal3.style.display = 'none';
      }
      if (event.target == modal5) {
        modal5.style.display = 'none';
      }
      if (event.target == modal6) {
        window.open("{{url_for('dashboard')}}", "_self");
      }
    };

  </script>
  </body>
</html>
