<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{{url_for('static', filename='images/favicon.svg')}}" type="image/gif" sizes="16x16">
    <title>Error</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/main.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/login.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/docid.css')}}"
    />
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-left">
        <a class="middle" href="{{url_for('index')}}" class="home">Home</a>
      </div>
      <div class="navbar-right">
        <a class="middle" href="{{url_for('dashboard')}}" class="dashboard"
          >Dashboard</a
        >
        <a class="middle" href="{{url_for('UserProfile')}}" class="profile"
          >{{name}}</a> 

        <a class="middle" href="{{ url_for('logout') }}" class="logout"
          >Logout</a
        >
      </div>
    </div>
    <div class="flex-container">
      <div class="row">
        <div class="flex-item"><h1>Something Went Wrong</h1></div>
        <div class="flex-item"><p>Try again agter sometime. If the problem continues contact the developers.</p></div>
      </div>
    </div>
  </body>
</html>
