<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/diagnostics.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/main.css')}}"
    />
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-left">
        <a href="{{url_for('index')}}" class="home">Home</a>
      </div>
      <div class="navbar-right">
        <a href="{{url_for('dashboard')}}" class="dashboard">Dashboard</a>
        <a href="#" class="profile">{{name}}</a>
        <a href="{{ url_for('logout') }}" class="logout">Logout</a>
      </div>
    </div>
    <!-- <div class="body-container">
          <div class="login-form">
            <div><h1></h1></div>
            <div></div>
            <div></div>
          </div>
      </div> -->
    <div class="flex-container">
      <div class="row">
        <div class="flex-item">
          <button><a href="#">link 1</a></button>
          <button>
            <a href="{{url_for('chfDiagnostics')}}">Congestive Heart Failure</a>
          </button>
          <button><a href="#">link 3</a></button>
          <button><a href="#">link 4 </a></button>
        </div>
        <div class="flex-item">
          <button><a href="#">Complete Diagnostics </a></button>
        </div>
      </div>
    </div>
  </body>
</html>
