<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/DocId.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/main.css')}}"
    />
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-left">
        <a href="{{url_for('index')}}" class="home">HDAD</a>
      </div>
      <div class="navbar-right">
        <a href="{{ url_for('register') }}" class="logout">SIGN UP</a>
        <a href="{{ url_for('login') }}" class="profile">SIGN IN</a>
      </div>
    </div>
    <div class="flex-container">
      <div class="row">
        <div class="flex-item"><h1>Your Id has been sent to your mail</h1></div>
      </div>
    </div>
  </body>
</html>
