<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/quick-chf.css')}}"
    />
  </head>
  {% import "bootstrap/wtf.html" as wtf %}
  <body>
    <div class="navbar">
      <div class="navbar-left">
        <a href="{{url_for('index')}}" class="home">Home</a>
      </div>
      <div class="navbar-right">
        <a href="{{url_for('dashboard')}}" class="dashboard">Dashboard</a>
        <a href="#" class="profile">{{name}}</a>
        <a href="{{ url_for('logout') }}" class="logout">Logout</a>
      </div>
    </div>
    <div class="body-container">
      <div class="row">
        <form method="POST" action="/quick-chf">
          <h1 class="form-signin-heading">Enter Patient Details</h1>
          {{ form.hidden_tag() }} {{ form.Pulse(placeholder='Pulse') }} {{
          form.Respiration(placeholder='Respiration Rate') }} {{
          form.NYHA(placeholder='NYHA cardiac function classification') }} {{
          form.Killip(placeholder='Killip Grade') }} {{
          form.Fio2(placeholder='Fio2') }} {{ form.LVEDD( placeholder='Left Ventricular End Diastolic Diameter LV') }}
          {{form.BNP(placeholder='Brain Natriuretic Peptide') }} {{
          form.Cystatin(placeholder='Cystatin') }} {{ form.HST(
          placeholder='High Sensitivity Troponin') }}
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
  </body>
</html>
