<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.25" />
    <title>Dashboard</title>
    
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/dashboard.css')}}"
    />
  </head>
  {% import "bootstrap/wtf.html" as wtf %}
  <body>
    <div class="navbar">
      <div class="navbar-left">
        <a class="middle" href="{{url_for('index')}}" class="home">Home</a>
      </div>
      <div class="navbar-right">
        <a class="middle" href="{{url_for('dashboard')}}" class="dashboard"
          >Dashboard</a
        >
        <a class="middle" href="#" class="profile"
          >{{name}}</a
        >
        <a class="middle" href="{{ url_for('logout') }}" class="logout"
          >Logout</a
        >
      </div>
    </div>
    <div class="body-container">
      <div class="body-left">
        <div class="row">
          <div class="flex-item"><h1>Quick Prediction</h1></div>
          <div class="flex-item">
            <button class="button-popup" id="chf">CHF DETECTION</button>
            <button class="button-popup" id="hf">HF CLASSIFICATION</button>
          </div>
          <div class="flex-item">
            <button class="button-popup" id="restbtn">HEART DISEASE</button>
            <button class="button-popup" id="restbtn2">COMPLETE DIAGNOSTICS</button>
          </div>
        </div>
        <div class="row">
          <div class="flex-item" id="patient-heading">
            <h1>Patient Record</h1>
          </div>
        </div>
        <div class="row">
          <table class="fixed_header">
            <thead>
              <tr>
                <th id="col1">S.no</th>
                <th>Patient Id</th>
                <th>Patient Name</th>
                <th>Date Added</th>
                <th>CHF</th>
                <th>Heart Failure</th>
                <th>Heart Disease</th>
              </tr>
            </thead>
            <tbody>
              {% set count=namespace(value=1) %} {% for row in data %} {% if
              count.value <=100 %}
              <tr>
                <td id="col-1">{{count.value}}</td>
                <td>
                  <button onclick="location.href='{{row.PatientId}}'">
                    {{row.PatientId}}
                  </button>
                </td>
                <td>{{row.PatientName}}</td>
                <td>{{row.PatientDate.strftime("%d/%m/%Y")}}</td>
                {% set flag=namespace(value=0) %} {% set temp=namespace(value=1)
                %} {% for row2 in diagdata %} {% if
                row2.PatientId==row.PatientId %} {% set flag.value=1 %} {% if
                temp.value ==1 %} {% if row2.DiagnosticsFor==1 %}
                <td>-</td>
                <td>1</td>
                <td>-</td>
                {% elif row2.DiagnosticsFor==2 %} {% for row3 in chf %} {% if
                row3.DiagnosticsId==row2.id %}
                <td>{{row3.Result}}</td>
                <td>-</td>
                <td>-</td>
                {% endif %}{% endfor %} {% elif row2.DiagnosticsFor==3 %}<td>-</td> 
                <td>-</td>

               <td>-</td>
                {% elif row2.DiagnosticsFor==4 %}
                <td>1</td>
                <td>1</td>
                <td>1</td>
                {% endif %} {% set temp.value = count.value + 1 %} {% endif %}
                {% endif %} {% endfor %} {% if flag.value==0%}
                <td>-</td>
                <td>-</td>
                <td>-</td>
                {% endif %}
              </tr>
              {% set count.value = count.value + 1 %} {% endif %} {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <div class="body-right">
      
          
            <form method="POST" action="/dashboard">
              <h1 class="form-signin-heading">Add Patient</h1>
              {{ form.hidden_tag() }} {{ form.PatientName(placeholder='Patient Name ') }}
              <br>
              <button type="submit">ADD</button>
            </form>
          
        
      </div>
    </div>
    <div id="chf-form" class="popUp popup_hide">
        <div class="popUp-content chfpopup">
          <form method="POST" action="{{data.PatientId}}">
            {{ chfform.hidden_tag() }}
            <div class="form-item"><h1>Enter Details For CHF Detection</h1></div>
            <div class="form-item">
              {{ chfform.Pulse(placeholder='Pulse') }}
            </div>

            <div class="form-item">
              {{ chfform.NYHA(placeholder='NYHA cardiac function
              classification') }}
            </div>
            <div class="form-item">
              {{ chfform.Killip(placeholder='Killip Grade') }}
            </div>

            <div class="form-item">
              {{chfform.BNP(placeholder='Brain Natriuretic Peptide ( pg/ml )')
              }}
            </div>
            <div class="form-item">
              {{ chfform.Cystatin(placeholder='Cystatin ( mg/ml )') }}
            </div>
            <div class="form-item">
              {{ chfform.Potassium( placeholder='Potassium ( mmol/L)') }}
            </div>
            <p>{{message}}</p>
            <div class="form-item">
              <button type="submit" name="submitchf" value="submitchf">
                SUBMIT
              </button>
              
            </div>

            <div class="form-item"></div>
          </form>
        </div>
        <!-- <span class="close">&times;</span> -->
      </div>
            <div id="hfform" class="popUp popup_hide">
        <div id="hfpopup" class="popUp-content">
          <form method="POST" action="{{data.PatientId}}">
          {{ hfform.hidden_tag() }}
          <div class="form-item"><h1>Enter Details For HF Clasification</h1></div>
          <div class="form-item"> {{ hfform.Pulse2(placeholder='Pulse') }}</div>
          <div class="form-item">{{
          hfform.SystolicBP(placeholder='Systolic Blood Presure') }}</div>
          <div class="form-item">{{hfform.LVEDD(
          placeholder=' Left Ventricular End Diastolic Diameter LV') }}</div>
          <div class="form-item">{{hfform.BNP2(placeholder='Brain Natriuretic Peptide') }}</div>
          <div class="form-item">{{
          hfform.CreatnineKinase(placeholder='Creatnine Kinase') }}</div>
          <div class="form-item">{{
          hfform.Cholestrol( placeholder='Cholestrol') }} </div>
          <div class="form-item"> {{ hfform.CEM(
          placeholder='Creatinine Enzymetic Method') }}</div>
          <div class="form-item">{{ hfform.Potassium2(
          placeholder='Potassium') }}</div>
          
         <p>{{message2}}</p>
          <div class="form-item">

              <button type="submit" name="submithf" value="submithf">
                SUBMIT
              </button>
              
            </div>     
            </form>           
        </div>
      </div>
    </div>
    <div id="rest" class="popUp popup_hide">
        <div id="" class="popUp-content">
            <h1>ML MODEL FOR THIS FEATURE WILL BE ADDED SOON</h1>
        </div>
        <span class="close"></span>
      </div>
      {% if formnum==2 %}
    <script>
      document.getElementById('chf-form').style.display = 'flex';
    </script>
    {% endif%}
    {% if formnum==3 %}
    <script>
      document.getElementById('hfform').style.display = 'flex';
    </script>
    {% endif%}
  </body>
  <script>
      var modal = document.getElementById('chf-form');

      var btn = document.getElementById('chf');

      var span = document.getElementsByClassName('close')[0];

      btn.onclick = function () {
        modal.style.display = 'flex';
      };
      var modal2 = document.getElementById('hfform');
      var btn2 = document.getElementById('hf');
      var span2 = document.getElementsByClassName('close')[0];
       btn2.onclick = function () {
        modal2.style.display = 'flex';
      };

      var modal3 = document.getElementById('rest');

      var btn3 = document.getElementById('restbtn');
      btn3.onclick = function () {
        modal3.style.display = 'flex';
      };
         var btn4 = document.getElementById('restbtn2');
      btn4.onclick = function () {
        modal3.style.display = 'flex';
      };
         
      

      window.onclick = function (event) {
        if (event.target == modal2) {
          modal2.style.display = 'none';
        }
        if (event.target == modal) {
          modal.style.display = 'none';
        }
          if (event.target == modal3) {
          modal3.style.display = 'none';
        }
        if (event.target == modal4) {
          modal4.style.display = 'none';
        }
        if (event.target == modal5) {
          modal5.style.display = 'none';
        }
      };
    </script>
  <!-- <script>
    window.onload = function () {
      document.getElementById('col-1').style.width =
        document.getElementById('col1').width + 'px';
    };
  </script> -->
</html>
