<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/index.css')}}"
    />
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-left">
        <div class="link-background">
          <a href="{{url_for('index')}}" class="middle">HDAD</a>
        </div>
      </div>
      <div class="navbar-right">
        <a href="{{ url_for('login') }}" class="middle">SIGN IN</a>
      </div>
    </div>
    <div class="container">
      <div class="container1">
        <div class="container1-1">
          <p class="big">H</p>
          <p class="small">EART</p>
          <img
            src="{{url_for('static', filename='images/pulse-heart-svgrepo-com.svg')}}"
            alt=""
            srcset=""
          />
        </div>
        <div class="container1-1">
          <p class="big">D</p>
          <p class="small">IAGNOSTICS</p>
          <img
            src="{{url_for('static', filename='images/diagnostics.svg')}}"
            alt=""
          />
        </div>

        <div class="container1-1">
          <p class="big">A</p>
          <p class="small">NALYTICS</p>
          <img
            src="{{url_for('static', filename='images/Analytics.svg')}}"
            alt=""
          />
        </div>
        <div class="container1-1">
          <p class="big">D</p>
          <p class="small">ASHBOARD</p>
          <img
            src="{{url_for('static', filename='images/dashboard-icon.svg')}}"
            alt=""
          />
        </div>
      </div>
      <div class="container2">
        <div class="container2-">
          <span class="count">{{doc}}</span>
          <p>Doctors</p>
        </div>
        <div class="container2-">
          <span class="count">{{patient}}</span>
          <p>Patients</p>
        </div>
        <div class="container2-">
          <span class="count">{{diag}}</span>
          <p>Diagnostics</p>
        </div>
      </div>
      <div class="container3">
        <div class="slideshow-container">
          <!-- Full-width images with number and caption text -->
          <div class="mySlides fade">
            <p>
              HDAD aims to bring a multitude of state-of-the-art and latest
              Machine Learning research in Healthcare to every clinician,
              anywhere and anytime
            </p>
          </div>

          <div class="mySlides fade">
            <p>
              Make accurate predictions and diagnosis of patients. Take
              data-driven prognostic decisions based on results from Models and
              professional expertise
            </p>
          </div>

          <div class="mySlides fade">
            <div>
              <p class="p-head">Team Atreya</p>
              <p>Achal Dixit</p>
              <p>Ashish Mishra</p>
              <p>Ashmit Ayush</p>
              <p>Kumar Badal</p>
            </div>
          </div>

          <!-- Next and previous buttons -->
        </div>
        <div class="container3-2">
          <div id="dotsdiv" style="text-align: center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="container4">
      <div>
        <button onclick="location.href='{{url_for('register') }}'">
          SIGN UP !
        </button>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
      $('.count').each(function () {
        $(this)
          .prop('Counter', 0)
          .animate(
            {
              Counter: $(this).text(),
            },
            {
              duration: 4000,
              easing: 'swing',
              step: function (now) {
                $(this).text(Math.ceil(now));
              },
            }
          );
      });

      var slideIndex = 1;
      showSlides();

      function currentSlide(n) {
        showSlides((slideIndex = n));
      }
      function showSlides() {
        var i;
        var slides = document.getElementsByClassName('mySlides');
        for (i = 0; i < slides.length; i++) {
          slides[i].style.display = 'none';
        }
        slideIndex++;
        if (slideIndex > slides.length) {
          slideIndex = 1;
        }
        slides[slideIndex - 1].style.display = 'block';
        setTimeout(showSlides, 5000); // Change image every 2 seconds
      }
      function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName('mySlides');
        var dots = document.getElementsByClassName('dot');
        if (n > slides.length) {
          slideIndex = 1;
        }
        if (n < 1) {
          slideIndex = slides.length;
        }
        for (i = 0; i < slides.length; i++) {
          slides[i].style.display = 'none';
        }
        for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(' active', '');
        }
        slides[slideIndex - 1].style.display = 'block';
        dots[slideIndex - 1].className += ' active';
      }
    </script>
  </body>
</html>
