<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/login.css')}}"
    />
  </head>
  {% import "bootstrap/wtf.html" as wtf %}
  <body>
    <div class="navbar">
      <div class="navbar-left">
        <a href="{{url_for('index')}}" class="home">Home</a>
      </div>
      <div class="navbar-right">
        <a href="{{ url_for('login') }}" class="profile">Sign In</a>
        <a href="{{ url_for('register') }}" class="logout">Sign Up</a>
      </div>
    </div>
    <div class="flex-container">
      <div class="row">
        <form method="POST" action="/login">
          <div class="flex-item"><h1>Sign In</h1></div>
          {{ form.hidden_tag() }}
          <div class="flex-item">
            {{ form.username(placeholder='username') }}
          </div>

          <div class="flex-item">
            {{ form.password(placeholder='password') }}
          </div>
          <div class="flex-item">{{ wtf.form_field(form.remember) }}</div>
          <div class="flex-item"><h2>{{message}}</h2></div>
          <div class="flex-item"><button type="submit">Sign In</button></div>
        </form>
      </div>
    </div>
  </body>
</html>
