<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
   
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/login.css')}}"
    />
    
  </head>
  {% import "bootstrap/wtf.html" as wtf %}
  <body>
    <div class="navbar">
      <div class="navbar-left">
        <a class="middle" href="{{url_for('index')}}" class="home">HDAD</a>
      </div>
      <div  class="navbar-right">
        <a  class="middle" href="{{ url_for('register') }}" class="logout">SIGN UP</a>
        <a  class="middle" href="{{ url_for('login') }}" class="profile">SIGN IN</a>
      </div>
    </div>
    <div class="container">
      <div class="container1">
        <form method="POST" action="/login">
        {{ form.hidden_tag() }}
        <h1>Enter Details</h1>
          <h2>{{message}}</h2>
      {{ form.username(placeholder='Username') }}
          {{ form.password(placeholder='Password') }}
       
          <button type="submit">SIGN IN</button>
           </form>
           <a  class="middle forgot" href="{{ url_for('usernamerecovery') }}">FORGOT USERNAME ?</a>
         
        </div>
        <div>
         
       
      </div>
    </div>
    
  </body>
</html>
