<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/PatientDetails.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/main.css')}}"
    />
  </head>
  {% import "bootstrap/wtf.html" as wtf %}
  <body>
    <div class="navbar">
      <div class="navbar-left">
        <a class="middle" href="{{url_for('index')}}" class="home">Home</a>
      </div>
      <div class="navbar-right">
        <a class="middle" href="{{url_for('dashboard')}}" class="dashboard">Dashboard</a>
        <a class="middle" href="{{url_for('profile')}}" class="profile">{{name}}</a>
        <a class="middle" href="{{ url_for('logout') }}" class="logout">Logout</a>
      </div>
    </div>
    <div class="whole">
      <div class="container">
        <div class="container1">
          <div class="container1-1">
            <p>{{ data.PatientId}}</p>
          </div>
          <div class="container1-2">
            <p>Name : {{data.PatientName}}</p>
            <p>Date Created : {{data.PatientDate.strftime("%d/%m/%Y")}}</p>
            <p>Time : {{data.PatientDate.strftime("%H:%M:%S")}}</p>
            <p>Diagnostics Date : {{ dd}}</p>
          </div>
          <div class="container1-3">
            <button  class="button-popup" id="alertbtn">NOTIFY PATIENT</button>
          </div>
        </div>
        <div class="container2">
          <div class="container2-1">
            <button class="button-popup" id="chf">
              CHF DETECTION
            </button>

            <button class="button-popup" id="hf">HF CLASSIFICATION</button>

            <button class="button-popup" id="restbtn">HEART DISEASE</button>
          </div>
          <div class="container2-mid">
            <button class="button-popup" id="restbtn2">
              COMPLETE DIAGNOSTIC
            </button>

            <button class="button-popup" id="statsbtn">STATISTICS</button>

          </div>
          
         
          <div class="container2-2">
            <button class="button-popup" id="restbtn3">MRI ENHANCEMENT</button>
            <button class="button-popup" id="restbtn4">IMAGE ANALYSIS</button>
          </div>
          <div class="container2-3">
            <table class="fixed_header">
              <thead>
                <tr>
                  <th>S.no</th>
                  <th>Diagnostics Date</th>
                  <th>Time</th>
                  <th>CHF</th>
                  <th>Heart Failure</th>
                  <th>Heart Disease</th>
                </tr>
              </thead>
              <tbody>
                {% set sno=namespace(value=1) %} {% for row in diagdata %}
                <tr>
                  <td>{{sno.value}}</td>
                  <td>{{row.DiagnosticsDate.strftime("%d/%m/%Y")}}</td>
                  <td>{{row.DiagnosticsDate.strftime("%H:%M:%S")}}</td>
                  {% if row.DiagnosticsFor==1 %}
                  <td>-</td>
                  <td>-</td>
                  <td>1</td>
                  {% elif row.DiagnosticsFor==2 %} {% for row2 in chf %} {% if
                  row2.DiagnosticsId==row.id %}
                  <td>{{row2.Result}}</td>
                  <td>-</td>
                  <td>-</td>
                  {% endif %} {% endfor %} {% elif row.DiagnosticsFor==3 %} {% for row3 in hf %} {% if
                  row3.DiagnosticsId==row.id %}
                  <td>-</td>
                  <td>{{row3.Result}}</td>
                  <td>-</td>
                  {% endif %} {% endfor %} 
                  {% elif row.DiagnosticsFor==4 %}
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  {% endif %}
                </tr>
                {% set sno.value = sno.value + 1 %} {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="bottom-bar"></div>
      <div id="chf-form" class="popUp popup_hide">
        <div class="popUp-content">
          <div class="top-popup"></div>
          <form method="POST" action="{{data.PatientId}}">
            {{ chfform.hidden_tag() }}
            <div class="form-item"><h1>Enter Details For CHF Detection</h1></div>
            <div class="form-item">
              {{ chfform.Pulse(placeholder='Pulse') }}
            </div>

            <div class="form-item">
              {{ chfform.NYHA(placeholder='NYHA cardiac function
              classification') }}
            </div>
            <div class="form-item">
              {{ chfform.Killip(placeholder='Killip Grade') }}
            </div>

            <div class="form-item">
              {{chfform.BNP(placeholder='Brain Natriuretic Peptide ( pg/ml )')
              }}
            </div>
            <div class="form-item">
              {{ chfform.Cystatin(placeholder='Cystatin ( mg/ml )') }}
            </div>
            <div class="form-item">
              {{ chfform.Potassium( placeholder='Potassium ( mmol/L)') }}
            </div>
            <p>{{message}}</p>
            <div class="form-item">
              <button type="submit" name="submitchf" value="submitchf">
                SUBMIT
              </button>
              <button type="submit" name="save" value="save">SAVE</button>
            </div>

            <div class="form-item"></div>
          </form>
        </div>
        <!-- <span class="close">&times;</span> -->
      </div>
            <div id="hfform" class="popUp popup_hide">
        <div id="hfpopup" class="popUp-content">
          <form method="POST" action="{{data.PatientId}}">
          {{ hfform.hidden_tag() }}
          <div class="form-item"><h1>Enter Details For HF Clasification</h1></div>
          <div class="form-item"> {{ hfform.Pulse(placeholder='Pulse') }}</div>
          <div class="form-item">{{
          hfform.SystolicBP(placeholder='Systolic Blood Presure') }}</div>
          <div class="form-item">{{hfform.LVEDD(
          placeholder=' Left Ventricular End Diastolic Diameter LV') }}</div>
          <div class="form-item">{{hfform.BNP(placeholder='Brain Natriuretic Peptide') }}</div>
          <div class="form-item">{{
          hfform.CreatnineKinase(placeholder='Creatnine Kinase') }}</div>
          <div class="form-item">{{
          hfform.Cholestrol( placeholder='Cholestrol') }} </div>
          <div class="form-item"> {{ hfform.CEM(
          placeholder='Creatinine Enzymetic Method') }}</div>
          <div class="form-item">{{ hfform.Potassium(
          placeholder='Potassium') }}</div>
          
         <p>{{message2}}</p>
          <div class="form-item">

              <button type="submit" name="submithf" value="submithf">
                SUBMIT
              </button>
              <button type="submit" name="save" value="save">SAVE</button>
            </div>     
            </form>           
        </div>
      
        <!-- <span class="close">&times;</span> -->
      </div>
    </div>
      <div class="bottom-bar"></div>
      <div id="stats" class="popUp popup_hide">
        <div id="statsmain" class="popUp-content">
          <form method="post" action="{{data.PatientId}}">
            {{ featureform.hidden_tag() }}
            <div class="form-item"><h1>Select Feature</h1></div>
            <div>{{ featureform.Feature1 }} {{ featureform.Feature2 }}</div>
                
                <div id=statssubmit><button type="submit" name="featureform" value="featureform">SUBMIT</button></div>
    
    </form>
          <div id="graph">{{image|safe}}</div>
        </div>
        <!-- <span class="close">&times;</span> -->
      </div>
       <div id="rest" class="popUp popup_hide">
        <div id="" class="popUp-content">
            <h1>ML MODEL FOR THIS FEATURE WILL BE ADDED SOON</h1>
        </div>
        <!-- <span class="close">&times;</span> -->
      </div>
      <div id="alert" class="popUp popup_hide">
        <div class="popUp-content">
         <form method="POST" action="{{data.PatientId}}">
          {{ alert.hidden_tag() }}
          <div class="form-item"><h1>Notify Patient</h1></div>
          <div class="form-item"> {{ alert.email(placeholder='Patient Email') }}</div>
          <div class="form-item">{{
          alert.message(cols="35", rows="15") }}</div>
          <div class="form-item">
              <button type="submit" name="alert" value="alert">SEND</button>
              
        </div>
     
      </form>
        </div>
        <span class="close"></span>
      </div>
    </div>
    {% if form==3 %}
    <script>
      document.getElementById('hfform').style.display = 'block';
    </script>
    {% endif%}
    {% if form==4 %}
    <script>
      document.getElementById('stats').style.display = 'block';
    </script>
    {% endif%}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    {% if form==2 %}
    <script>
      document.getElementById('chf-form').style.display = 'block';
    </script>
    {% endif%}
    
    <script>
      var modal = document.getElementById('chf-form');

      var btn = document.getElementById('chf');

      var span = document.getElementsByClassName('close')[0];

      btn.onclick = function () {
        modal.style.display = 'block';
      };

      span.onclick = function () {
        modal.style.display = 'none';
      };
      


      var modal2 = document.getElementById('stats');

      var btn2 = document.getElementById('statsbtn');

      var span2 = document.getElementsByClassName('close')[0];

      btn2.onclick = function () {
        modal2.style.display = 'block';
      };
    
      span.onclick = function () {
        modal2.style.display = 'none';
        modal.style.display = 'none';
        modal3.style.display = 'none';
        modal4.style.display = 'none';
      
      };

      var modal3 = document.getElementById('hfform');

      var btn3 = document.getElementById('hf');

      var span3 = document.getElementsByClassName('close')[0];

       btn3.onclick = function () {
        modal3.style.display = 'block';
      };
      var modal4 = document.getElementById('alert');

      var btn4 = document.getElementById('alertbtn');
      btn4.onclick = function () {
        modal4.style.display = 'block';
      };
      var modal5 = document.getElementById('rest');

      var btn5 = document.getElementById('restbtn');
      btn5.onclick = function () {
        modal5.style.display = 'block';
      };
         var btn6 = document.getElementById('restbtn2');
      btn6.onclick = function () {
        modal5.style.display = 'block';
      };
         var btn7 = document.getElementById('restbtn3');
      btn7.onclick = function () {
        modal5.style.display = 'block';
      };
         var btn8 = document.getElementById('restbtn4');
      btn8.onclick = function () {
        modal5.style.display = 'block';
      };
      

      window.onclick = function (event) {
        if (event.target == modal2) {
          modal2.style.display = 'none';
        }
        if (event.target == modal) {
          modal.style.display = 'none';
        }
          if (event.target == modal3) {
          modal3.style.display = 'none';
        }
        if (event.target == modal4) {
          modal4.style.display = 'none';
        }
        if (event.target == modal5) {
          modal5.style.display = 'none';
        }
      };
    </script>
    <!-- <script>
      // Inline popups
      $('#inline-popups').magnificPopup({
        delegate: 'a',
        removalDelay: 500, //delay removal by X to allow out-animation
        callbacks: {
          beforeOpen: function () {
            this.st.mainClass = this.st.el.attr('data-effect');
          },
        },
        midClick: true, // allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source.
      });

      // Image popups
      $('#image-popups').magnificPopup({
        delegate: 'a',
        type: 'image',
        removalDelay: 500, //delay removal by X to allow out-animation
        callbacks: {
          beforeOpen: function () {
            // just a hack that adds mfp-anim class to markup
            this.st.image.markup = this.st.image.markup.replace(
              'mfp-figure',
              'mfp-figure mfp-with-anim'
            );
            this.st.mainClass = this.st.el.attr('data-effect');
          },
        },
        closeOnContentClick: true,
        midClick: true, // allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source.
      });

      // Hinge effect popup
      $('a.hinge').magnificPopup({
        mainClass: 'mfp-with-fade',
        removalDelay: 1000, //delay removal by X to allow out-animation
        callbacks: {
          beforeClose: function () {
            this.content.addClass('hinge');
          },
          close: function () {
            this.content.removeClass('hinge');
          },
        },
        midClick: true,
      });
    </script> -->
    <!-- <script>
      function openchf() {
        document.getElementById('chf').style.display = 'flex';
      }

      function openalert() {
        document.getElementById('patientalert').style.display = 'flex';
      }
      function closealert() {
        document.getElementById('patientalert').style.display = 'none';
      }
      function closechf() {
        document.getElementById('chf').style.display = 'none';
      }

      function openhf() {
        document.getElementById('hf').style.display = 'flex';
      }

      function closehf() {
        document.getElementById('hf').style.display = 'none';
      }

      function openstats() {
        document.getElementById('stats').style.display = 'flex';
      }

      function closestats() {
        document.getElementById('stats').style.display = 'none';
      }
    </script> -->
  </body>
</html>
